html, body
{
    height: 100%;
}
body{
    padding-top: 105px;
}
.navbar
{
    min-height: 70px;
    padding-top: 10px;
}
.navbar-brand{
    font-size: 15px;
    height: 90px;
    color: #fff!important;
    padding: 0 15px;
    overflow: hidden;
    transition: all .3s ease-in-out;
}
.navbar-brand img{
    padding-left: 15px;

}
.navbar-brand:hover{
    color: #666!important;
}
.navbar-inverse{
    background-color: #000;
}

@media(min-width: 768px){
    .nav>li>a:hover{
    color: #bbb!important;
}
    .nav>li>a{
    color: #fff!important;
}
}
@media(min-width: 1200px){
    .main_nav{
    padding-left: 150px;
}
    .main_nav>li{
        padding-right: 10px;
        padding-left: 10px;
    }
}
.social_buttons>li{
    margin: 0 2px;
    padding: 0px;
}
#facebook a:hover{

    color: #768cff!important;
}
#twitter a:hover{
    color: #25ffff!important;
}
#instagram a:hover{
    color: orange!important;
}
#linkedin a:hover{
    color: #2f4de8!important;
}
.no-margin
{
	margin: 0px;
}
.no-padding
{
	padding: 0px;
}
ul.unstyled
{
	list-style: none;
    padding: 0; 
}
ul.unstyled li>a
{
    color: #888;
    text-decoration: none;
}
ul.unstyled li>a:hover
{
    color: #9d426b;
}

.errors
{
    color: red;
}
.success
{
    color: green;
}
.center
{
    display: block;
    margin: 0 auto;
    /*margin-right: auto;*/
}


#panel-list a
{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}
#panel-list li
{
    list-style: none;
    border-bottom: 1px solid #fff;
} 
#panel-list li:hover
{
    background-color: #000;
}
.black{
    background-color: #000;
}
.grey{
    background-color: #333;
}
.red{
    background-color: red;
}
.green{
    background-color: green;
}
.orange{
    background-color: orange;
}
.yellow
{
    background-color: yellow;
}
.light-grey
{
    background-color: #f5f5f5;
}
.info
{
    background-color: #5bc0de;
}
.primary
{
    background-color: #337ab7;
}
.asphalt
{
    background-color: #34495e;
}
.emerald
{
    background-color: #2ecc71;
}
.purple
{
    background: #9d426b;
}
.top
{

    transition: all 2s ease-in-out;
}
.inverse-title
{
    background-color: black;
    color: #eee;
}
.img-thumbnail {
    display: inline-block;
    max-width: 100%;
    height: auto;
    padding: 4px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
#panel1{
    margin-left: -200px;
    transform: translate(-600px, 200px);
    transition: all 1s ease-in-out;
    position: relative;
    left: 50%;
}
#panel2{
    margin-left: -200px;
    transform: translate(600px, 200px);
    transition: all 1s ease-in-out;
    position: relative;
    left: 50%;
}
.image_container{
    overflow: hidden;
}
nav{
    transition: all .4s ease-in-out;
    transform: translate(0, -105px);
}